<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/">
</head>
<body>
    <div class="container">
        <h1>Hello, <%= username %>, Welcome to your Dashboard</h1>
        <p>You are Logged In.</p>
        <a href="/">Logout</a>
    </div>
</body>
</html>